/*Selector universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

body{
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(191, 191, 191);
}

#caja{
    background-color: rgb(183, 150, 226);   
    margin: 15px;
    padding: 2%;
    text-align: justify;
    border-radius: 8px;
}

#btnCargar{
    background-color: black;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}